legacy-peer-deps=true

registry=https://pkgs.dev.azure.com/goveindia/Baas-360/_packaging/BaaS-360-Dev/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/goveindia/Baas-360/_packaging/BaaS-360-Dev/npm/registry/:username=goveindia
//pkgs.dev.azure.com/goveindia/Baas-360/_packaging/BaaS-360-Dev/npm/registry/:_password=c3pnNnRhYmxidTVrMjZuYXM3cDZjZmFqcDcybzVoNGdtY2R0czZrdWw1dGFtN21lbzN5cQ==
//pkgs.dev.azure.com/goveindia/Baas-360/_packaging/BaaS-360-Dev/npm/registry/:email=npm requires email to be set but doesnt use the value
//pkgs.dev.azure.com/goveindia/Baas-360/_packaging/BaaS-360-Dev/npm/:username=goveindia
//pkgs.dev.azure.com/goveindia/Baas-360/_packaging/BaaS-360-Dev/npm/:_password=c3pnNnRhYmxidTVrMjZuYXM3cDZjZmFqcDcybzVoNGdtY2R0czZrdWw1dGFtN21lbzN5cQ==
//pkgs.dev.azure.com/goveindia/Baas-360/_packaging/BaaS-360-Dev/npm/:email=npm requires email to be set but doesn't use the value
; end auth token